@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Rigged</h1>
    <p class="lead">Engange in dirty politics to win the election of your dreams.</p>
</div>

<div class="row">
    <h2>Play a new Game</h2>

    <label>Player Name</label>
    <input id="PlayerName_Input"/>

    <label>Room Code</label>
    <input id="RoomCode_Input" />

    <button onclick="JoinGame_Button()">Join Game</button>
    <button onclick="CreateGame_Button()">Create Game</button>
    <br/>
    <div hidden id="InvalidCode_Div" class="bg-danger"><label>Invalid code, or the game has already started</label></div>
</div>