body {
    padding-top: 70px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.Padding-Box{
    padding:12px;
}

.Margin-Box {
    margin: 12px;
}
.Margin-Bottom {
    margin-bottom: 12px;
}

.Empty-Input {
   border-color: yellow;
   border-style: solid;
   border-width: 1px;
}

body{
    color: #fff;
    background-color: #4d4d4d;
}

.btn{
    padding: 12px 16px;
    font-size: 24px;
    text-transform: uppercase;
}

h1{
    font-size: 28px;
    font-weight: bold;
}
h2{
    font-size: 22px;
    font-weight: bold;
}

.Card {
    border: 5px solid #77E0C6;
    background: #3A3A3A;
    border-radius: 6px;
    padding: 16px;
    font-size: 18px;
    margin-bottom: 36px;
    cursor: pointer;
}

.flex{
    display: flex;
}
.Margin-Right{
    margin-right: 12px;
}
.Margin-ZT{
    margin-top: 0px;
}

.Card.Dirty {
    border-color: #FFCC6A
}
.FullWidth{
    width: 100%;
}
.badge.badge-danger {
    background: #FFCC6A;
    padding: 6px 12px;
    font-size: unset;
}
.badge.badge-success {
    background: #77E0C6;
    padding: 6px 12px;
    font-size: unset;
}
.btn-primary {
    background: #6FB7EC !important;
}
.btn-primary.active {
    background: #2f76aa !important;
}

.Border-r4{
    border-radius: 4px;
}

.bg-danger {
    background-color: #ffc4c4;
}
.bg-success {
    background-color: #a9ffea;
}