@using HouseOfCardsMVC.Models
@model Card


<div class="Card" onclick="PlayCard_Button('@Model.Id', '@Model.Target')">
    <h2 class="Margin-ZT">
        Leap of faith
    </h2>
    <p>Someone has messed with your campaign, you won't know what move you are about to make</p>
</div>