
@{
    Layout = "~/Views/Shared/_Layout-Game.cshtml";
    ViewBag.Title = "Accuse";
    bool Messages = Model.Messages.Any();
}

<div id="Accuse_Messages_Div" class="Padding-Box" @(Messages ? "" : "hidden")>
    <h2>Messages</h2>
    @foreach (string message in Model.Messages)
    {
        <label>@message</label>
    }
    <button onclick="$('#Accuse_Messages_Div').hide(); $('.Game-Body').show();">Close</button>
</div>

<div class="Game-Body Padding-Box" @(Messages ? "hidden" : "")>
    <div class="row">
        <div class="col-sm-6">
            <p>Player 1</p>
        </div>
        <div class="col-sm-6">
            <p>Player 2</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <p>Player 3</p>
        </div>
        <div class="col-sm-6">
            <p>Player 4</p>
        </div>
    </div>
</div>