
@{
    Layout = "~/Views/Shared/_Layout-Game.cshtml";
    ViewBag.Title = "Accuse";
}

<div class="Padding-Box">
    <div class="row">
        <div class="col-sm-6">
            <p>Player 1</p>
        </div>
        <div class="col-sm-6">
            <p>Player 2</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <p>Player 3</p>
        </div>
        <div class="col-sm-6">
            <p>Player 4</p>
        </div>
    </div>
</div>