@using HouseOfCardsMVC.Models
@model PlayerModel
@{
    Layout = "~/Views/Shared/_Layout-Game.cshtml";
    ViewBag.Title = "Game Over";
}

<div class="Padding-Box">
    <h1>Game Over</h1>
</div>

<div>
    <ul>
        @foreach (var Player in Model.Game.Players)
        {
            <li>
                @Player.Name : @Player.Score
            </li>
        }
    </ul>

    <button class="btn btn-default" onclick="LeaveGame_Button()">Exit</button>
</div>
