@using HouseOfCardsMVC.Models
@model PlayerModel
@{
    Layout = "~/Views/Shared/_Layout-Game.cshtml";
    ViewBag.Title = "Waiting to start";
}

<div class="Padding-Box text-center">

    <h1>Room code: <b>@Model.Game_Id</b></h1>
    <div id="players">
        @foreach (var player in Model.Game.Players.Where(a => a.Id != Model.Id))
        {
            <h2>@player.Name has joined</h2>
        }
    </div>

    <button class="btn btn-success" onclick="StartGame_Button()">Start Game</button>
    <button class="btn btn-default" onclick="LeaveGame_Button()">Leave Game</button>
</div>



<script>
    function connectionStart() {
        JoinGameAlert();
    }
</script>
